.blog-text p {
	line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    /*white-space: nowrap;*/
    text-overflow: ellipsis;
}

.content {
	position: absolute;
	bottom: 10;
	width: 82%;
}

.search-form {
	border-bottom: 1px solid #dcdcdc;
	/*margin-bottom: 20px;*/
    padding-bottom: 5px;
}

.add-new-button {
	right: 20px;
	position: fixed;
	z-index: 2;
}

.base-quantity {
	bottom: 30px !important;
	position: relative;
}

.ml-10 {
	margin-left: 10px;
}

.p-10 {
	padding: 10px;
}

.modal-header {
	display: block;
}

.bootbox-close-button.close {
	margin-top: unset;
}

.fileinput-button {
	position: relative;
    overflow: hidden;
    background: #78CD51;
    border-color: #78CD51;
}

.fileinput-button input  {
	position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}
