@font-face {
    font-family: 'Ambient';
    src: url('../fonts/Ambient/Ambient-Regular.eot');
    src: local('Ambient Regular'), local('Ambient-Regular'),
        url('../fonts/Ambient/Ambient-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ambient/Ambient-Regular.woff2') format('woff2'),
        url('../fonts/Ambient/Ambient-Regular.woff') format('woff'),
        url('../fonts/Ambient/Ambient-Regular.ttf') format('truetype'),
        url('../fonts/Ambient/Ambient-Regular.svg#Ambient-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.header {
	font-family: 'Ambient';
}

@font-face {
    font-family: 'FuturaBook';
    src: url('../fonts/Futura Book/FuturaPTBook.otf') format('opentype');
    src: url('../fonts/Futura Book/FuturaPT-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#main-content {
	font-family: 'Futura Book';
}

#menu-svg {
   fill: white;
}

ul.sidebar-menu li a svg {
    font-size: 15px;
    padding-right: 6px;
}

ul.sidebar-menu li a i {
    font-size: 15px;
    padding-right: 6px;
}

.blog-text p {
	line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    /*white-space: nowrap;*/
    text-overflow: ellipsis;
}

.content {
	position: absolute;
	bottom: 10;
	width: 82%;
}

.search-form {
	border-bottom: 1px solid #dcdcdc;
	/*margin-bottom: 20px;*/
    padding-bottom: 5px;
}

.add-new-button {
	right: 20px;
	position: fixed;
	z-index: 2;
}

.base-quantity {
	bottom: 30px !important;
	position: relative;
}

.ml-10 {
	margin-left: 10px;
}

.p-10 {
	padding: 10px;
}

.modal-header {
	display: block;
}

.bootbox-close-button.close {
	margin-top: unset;
}

.fileinput-button {
	position: relative;
    overflow: hidden;
    background: #78CD51;
    border-color: #78CD51;
}

.fileinput-button input  {
	position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}

#blog-bg img {
	min-height:100%
	object-fit: cover;
}

.blog-title {
	background: rgba(241,100,50,0.8);
}

.second-aside {
 	background: #d6d9dc;
 	padding-top: 20px;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.pt11 {
	padding-top: unset;
}

.page-aside {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 260px;
    overflow-y: hidden;
    background: #fff;
    border-right: 1px solid #e4eaec;
    -webkit-transition: visibility .1s ease,top .3s ease,left .5s ease,right .5s ease;
    -o-transition: visibility .1s ease,top .3s ease,left .5s ease,right .5s ease;
    transition: visibility .1s ease,top .3s ease,left .5s ease,right .5s ease;
}

.page-aside .app-notebook-list .list-group li {
    cursor: pointer;
}

.app-notebook .md-editor {
    border: 0;
    border-radius: 0;
    max-width: 100%;
    overflow: auto;
    display: none;
}

.noContent {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    height: 100vh;
    background: #fff;
}

.noContent .saveDiary {
    position: absolute;
    left: 55%;
    top:50%;
}

.bootbox.modal {
    z-index: 9999 !important;
}

@media (max-width:320px)  {
    .noContent .saveDiary {
        position: unset;
    }
}
@media (max-width:480px)  {
    .noContent .saveDiary {
        position: unset;
    }
}
@media (max-width:600px)  {
    .noContent .saveDiary {
        position: unset;
    }
}

@media (min-width:801px)  {
	.pt11 {
		padding-top: 11px;
	}
}
